<ng-container [ngSwitch]="gameMode">
  <ng-container *ngSwitchCase="GameMode.guess">
    <app-player-guess></app-player-guess>
  </ng-container>
  <ng-container *ngSwitchDefault
    ><app-player-draw></app-player-draw
  ></ng-container>
</ng-container>

<ng-container *ngIf="(currentGameStatus$ | async) === GameStatus.created">
  <div class="m-8">
    <button
      class="btn btn-primary btn-lg w-full"
      (click)="changePlayerReadyState()"
      [disabled]="(currentGameStatus$ | async) == GameStatus.started"
    >
      {{ playerReady ? "Unready!" : "Ready" }}
    </button>
  </div>
</ng-container>
