<div class="m-8 ">
  <div class="form-control w-full">

    <input type="text"
           class="input input-bordered input-lg xl:h-24 3xl:h-24 text-1xl xl:text-3xl 3xl:text-5xl"
           placeholder="Vermutung"
           [(ngModel)]="guess" />
    <button class="btn btn-primary btn-lg mt-4 xl:h-24 3xl:h-24 text-1xl xl:text-3xl 3xl:text-5xl"
            (click)="sendGuess()" [disabled]="!canGuess()">Absenden!</button>
  </div>

  <div class="w-full border border-primary mt-8">
    <span class="text-xl mb-4">Bisherige Vermutungen:</span>
    <div *ngFor="let g of guesses">{{g}}</div>
  </div>
</div>
