<div class="flex flex-row h-[50%]">
    <canvas-displays class="w-[25%]"></canvas-displays>
    <canvas-displays class="w-[25%]"></canvas-displays>
    <canvas-displays class="w-[25%]"></canvas-displays>
    <canvas-displays class="w-[25%]"></canvas-displays>
</div>
<div class="flex flex-row h-[50%]">
    <canvas-displays class="w-[25%]"></canvas-displays>
    <canvas-displays class="w-[25%]"></canvas-displays>
    <canvas-displays class="w-[25%]"></canvas-displays>
    <canvas-displays class="w-[25%]"></canvas-displays>
</div>
