<h1 class="my-8 text-5xl xl:text-9xl 3xl:text-[12rem] flex justify-center">Indraw.gy</h1>
<div class="m-8">
  <div class="form-control w-full">
    <label class="label">
      <span class="label-text text-xs xl:text-2xl 3xl:text-3xl">Username</span>
    </label>
    <input type="text"
           class="input input-bordered input-lg xl:h-24 3xl:h-24 text-1xl xl:text-3xl 3xl:text-5xl"
           placeholder="Username..."
           [(ngModel)]="username" />
    <button class="btn btn-primary btn-lg mt-4 xl:h-24 3xl:h-24 text-1xl xl:text-3xl 3xl:text-5xl"
            (click)="login()" [disabled]="!canLogin()">Login</button>
  </div>
</div>
